	.myToggle {
				visibility: visible;
				width: 300px;
				height: 30px;
				background-color: transparent;
				 position:absolute;
				/*border-radius: 5px;*/
			}

			.sliderLine {
			  width: 300px;
			  height: 30px;
			  background-color: gray;
			  position:absolute;
			  border-radius: 30px;
			  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
			}

			/* .myToggle:hover {

				background-color: rgb(0,0,0);
			} */

			.btn {
				border-radius: 30px;
				position:relative;
				float:left;
				width: 30px;
				height: 30px;
				background-color: transparent;
				opacity : 1;
			}

			.btnSmall {
				border-radius: 10px;
				position:absolute;
				left : 10px;
				top : 10px;
				width: 10px;
				height: 10px;
				background-color: white;
				pointer-events:none; 
				transition: 0.5s ease-in-out;
			}

			.btn:hover > .btnSmall {
			  /* animation-name: bounce;
			  animation-duration: 3s; */
			  /* background-color: white !important; */
			  /* animation-timing-function: ease-out; */
			  transform: scale(3);
			}

			.btnToggle {
				border-radius: 30px;
				position:relative;
				/* float:left; */
				width: 30px;
				height: 30px;
				background-color: blue;
				transition: 0.5s ease;
			}


			@keyframes bounce {
				0%, 100%{
					-webkit-transform: scale(1);
					-ms-transform:   scale(1);
					transform:       scale(1);
				}
				30% {
					-webkit-transform: scale(2);
					-ms-transform:     scale(2);
					transform:         scale(2);
				}

			}